body {
    font-family: Courier New;
    background-color: rgb(118, 196, 235);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    background-color: white;
    padding: 5px;
    border-radius: 20%;
    text-decoration: none;
}

.description {
    max-width: 500px;
}